{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/tpsdc-logo.png">
    </a>
    <h1>Tongi Pilot School Debating Club</h1>
    <p>"This is a a Web Application for Tongi Pilot School Debating Club"</p>
    <a type="button" class="btn btn-lg btn-default" href="#"><span class="glyphicon glyphicon-flash"></span> Getting Started the Application</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    This application is developed by <a href="https://facebook.com/ojoibo.podartho" class="alert-link">Ojoibo Podartho</a> for TPS Debating Club
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div id="fb-root"></div>
      <div class="fb-post" data-href="https://www.facebook.com/TPSdebateclub/photos/a.102146061135482/102146201135468/" data-show-text="true" data-width=""><blockquote cite="https://developers.facebook.com/TPSdebateclub/photos/a.102146061135482/102146201135468/?type=3" class="fb-xfbml-parse-ignore"><p>it was a great day for TPSDC</p>Posted by <a href="https://www.facebook.com/TPSdebateclub/">TPS Debate Club</a> on&nbsp;<a href="https://developers.facebook.com/TPSdebateclub/photos/a.102146061135482/102146201135468/?type=3">Wednesday, July 31, 2019</a></blockquote></div>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app is developed so that Member's of TPS Debting club</li>

        <li>This app is helpful to save club's member iformation and to save the iformation of their session fees, workshops, etc</li>
        <li>The finance Offer of the club can use this app to push members session fees</li>
        li>A member achivement is also added so that he/she can put that on his/her CV</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Processing Steps</h3>
      <ul>
        <li>There is some steps to contiue this app</li>
        <ul>
          <li><We are not discribing here now/li>
          <li>But it will be done soon enough</li>
          <li>eIf you pay for the domain and hosting and devlpment payment</li>
        </ul>
      </ul>
    </div>
    <hr>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    This application is developed by <a href="https://facebook.com/ojoibo.podartho" class="alert-link">Ojoibo Podartho</a> for Tongi Pilot School & Girls' College Debating Club
  </div>
</div>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="v9gXOAF8"></script>
{% endblock %}
